@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  margin-block: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.roboto-light {
  font-weight: 300;
}
.roboto-regular {
  font-weight: 400;
}
.roboto-medium {
  font-weight: 500;
}
.roboto-bold {
  font-weight: 700;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.main-container {
  width: 100%;
  max-width: 1440px;
}

.main-section {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.main-section img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  display: flex;
  width: 100%;
  background-color: white;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.header__logo p {
  font-size: 30px;
  padding-right: 63px;
}
.header__go-back {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 63px;
  height: 63px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px 50px 0 0;
  margin: -36px 0 0 0;
  padding: 0 0 36px 0;
  background-color: #f6f6f6;
  gap: 40px;
}
.menu__header {
  display: flex;
  box-sizing: border-box;
  margin-top: 30px;
  gap: 30px;
  padding: 0 1rem;
}
.menu__header h1 {
  font-size: 28px;
}
.menu__header label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 634px;
  align-items: start;
  text-align: left;
  padding: 0 4%;
  box-sizing: border-box;
}
.menu-section h2 {
  font-size: 16px;
}
.menu-section__line {
  width: 40px;
}
.menu-section__line hr {
  border: 3px solid #99e2d0;
}

.order-button {
  width: 180px;
  height: 50px;
  color: white;
  border-radius: 25px;
  border: none;
  margin: 36px 0 0 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(175deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  transition: all 1s ease-in-out;
}
.order-button:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.card-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 18px 12px;
  gap: 8px;
  border-radius: 1rem;
  background-color: white;
  margin-right: -79px;
  transition: all 1s ease-in-out;
  opacity: 0;
  /* Départ invisible */
  transform: translateY(20px);
  /* Légère translation vers le bas */
  animation: fadeIn 1.5s forwards;
  /* Animation qui apparait en 0.5s */
  /* Animation de base pour fadeIn */
  /* Ajouter des délais pour chaque élément */
  border: 2px solid red;
}
.card-content:hover {
  margin-right: 0;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
    /* Revient à sa position normale */
  }
}
.card-content .card-content:nth-child(1) {
  animation-delay: 2s;
}
.card-content .card-content:nth-child(2) {
  animation-delay: 4s;
}
.card-content .card-content:nth-child(3) {
  animation-delay: 6s;
}
.card-content h3 {
  font-size: 18px;
}
.card-content__txt {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.card-content__txt p {
  font-size: 15px;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-container {
  display: flex;
  width: 100%;
  background-color: white;
  margin: 0 0 0.5rem 0;
}

.hidden-box {
  display: flex;
  flex-direction: row-reverse;
}

.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  box-sizing: border-box;
  background-color: #99e2d0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.checkmark__selected {
  color: #f6f6f6;
}

input[type=checkbox] {
  display: none;
}

.full-heart {
  display: none;
}

#heart:checked ~ .full-heart {
  display: block;
  color: #9356dc;
}

#heart:checked ~ .empty-heart {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: #353535;
  color: white;
  gap: 16px;
  padding: 22px 25px;
}
.footer h2 {
  padding-bottom: 16px;
}
.footer ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}
.footer ul li {
  padding: 4px 0;
}
.footer ul li i {
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .menu {
    width: 84%;
  }
  .footer {
    flex-direction: row-reverse;
  }
  .menu-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 48px 0px 16px;
    gap: 32px;
  }
  .menu-title {
    display: flex;
    margin: 0px 48px;
  }
  .menu-list {
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    gap: 16px;
    overflow: hidden;
  }
  .menu-item {
    float: left;
  }
}
@media screen and (min-width: 1024px) {
  .main-section img {
    height: 371px;
  }
  .menu {
    width: 75%;
    max-width: 1055px;
  }
}/*# sourceMappingURL=style-restaurant.css.map */